<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>tpSpringWebFormateur</display-name>
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
     <!-- springWebConf.xml dans src/main/resources recopié via maven dans
                           /WEB-INF/classes -->	
	<param-value>/WEB-INF/classes/springWebConf.xml</param-value>
</context-param>
  
  <listener> <!-- pour charger la config spring au démarrage de l'appli dans tomcat -->
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
  
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
</web-app>